In [96]:
import numpy as np
import pandas as pd
import statistics as stts

from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.linear_model import LogisticRegression

from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.ensemble import VotingClassifier

In [97]:
def model_predictions(model, train_x, train_y, test_x):
    
    #train the model
    model.fit(train_x,train_y)
    
    #storing predictions for train and test
    pred_train=model.predict(train_x)
    pred_test=model.predict(test_x)
    return pred_train, pred_test

In [98]:
data = pd.read_csv('../data/data_cleaned.csv')

X, y = data.drop('Survived', axis=1), data.pop('Survived')

X_train, X_test, y_train, y_test = train_test_split(X,y, random_state = 9 , stratify = y)

In [99]:
DT = DecisionTreeClassifier()
KNN = KNeighborsClassifier()
LR = LogisticRegression(solver='lbfgs', max_iter=1000)


M1_train, M1_test = model_predictions(DT, X_train, y_train, X_test)
M2_train, M2_test = model_predictions(KNN, X_train, y_train, X_test)
M3_train, M3_test = model_predictions(LR, X_train, y_train, X_test)

In [100]:
X_train_meta = pd.DataFrame({'m1':M1_train, 'm2':M2_train, 'm3':M3_train})
X_train_meta.head()

   m1  m2  m3
0   1   1   1
1   1   1   1
2   1   1   1
3   0   1   1
4   0   0   0

In [101]:
X_test_meta = pd.DataFrame({'m1':M1_test, 'm2':M2_test, 'm3':M3_test})
X_test_meta.head()

   m1  m2  m3
0   0   0   0
1   1   1   1
2   0   0   0
3   1   1   0
4   0   0   0

In [102]:
# Stacker Model
meta_model = LogisticRegression()
meta_model.fit(X_train_meta, y_train)
meta_model.score(X_test_meta,y_test)

0.726457399103139